.App {
  padding: 20px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.lrg-input {
  width: 100%;
  height: 150px;
}

h1, h2, h3, h4 {
  font-family: 'Bitter', serif;
  font-weight: bold;
}

.margin-top-md {
  margin-top: 20px;
}

label {
  font-weight: bold;
}

.App-header {
  background-color: #C0D6DF;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: black;
  border: black;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.footer {
  background-color: #C0D6DF;
  padding: 20px;
  margin-top: 20px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
